.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f0f0f0;
  border-bottom: 1px solid #ddd;
}

.navbar-logo h2 {
  margin: 0;
  color: #333;
}

.navbar-search input {
  padding: 8px 12px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
}

.navbar-search input:focus {
  outline: none;
  border-color: #007bff;
}

.logo-img{
  width: 20%;
  height: auto;
}